.Listing {
    margin-top: 70px;
    padding: 20px;
}

.ListingTitle {
    display: flex;
    align-items: center;
}

.ListingTitle h2 {
    flex: 0 0 84%;
}

.ListingTitle h4 {
    flex: 1;
    cursor: pointer;
}
