.Listing {
    padding: 10px;
}

.ListingTitle {
    display: flex;
    align-items: center;
}

.ListingTitle h2 {
    flex: 0 0 50%;
}

.ListingTitle h4 {
    flex: 0 0 50%;
    display: flex;
    cursor: pointer;
    align-self: flex-end;
    justify-content: flex-end;
}
