.Filters {
    grid-area: lp;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #ffffff; 
}

.FiltersBox {
    background: linear-gradient(rgb(39, 39, 39, 0.85), rgb(39, 39, 39, 0.85));
    border-radius: 15px;   
    box-shadow: 2px 2px 18px #141414;
}

.Filters h2 {
    margin: 40px 20px 20px 20px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid #ffffff;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    margin: 0 auto 20px auto;
    border-radius: 10px;
    background-color: #686de0;
    color: #ffffff;
    box-shadow: 1px 1px 18px #111111;     
}

@media screen and (max-width: 925px) {
    button {
        width: 140px;
        height: 30px;

    }
}

