.PageLayout {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50px 100vh;
    grid-template-areas: "header header header"
                         "lp mp rp";
}

header {
    width: 100%;
    grid-area: header;
}