* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Roboto', sans-serif;
  
}

body {
  /* background: linear-gradient(to bottom right, #130f40, #be2edd);*/
  
  /*
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(assets/background-image.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  */
  background-color: royalblue;
  height: 100vh;
}
